<!DOCTYPE html>
<html>
<head>
	<title>The Web</title>
	<link href="styles.css" rel="stylesheet">
	<script src="index.js"></script>
</head>
<body>
	<form id="frm">
		<div>
			<div>
				<label>Full Name</label>
				<input id = "fName" type="text" value="">
			</div>
			<div>
				<label>Position</label>
				<input id = "pos" type="text" value="">
			</div>
			<div>
				<label>Manager's Name</label>
				<input id ="mName" type="text" value="">
			</div>
			<div>
				<label>Company Name</label>
				<input id = "cName" type="text" value="">
			</div>
			<div>
				<label>Phone</label>
				<input id = "phone" type="text" value="">
			</div>
			<div>
				<label>Salary</label>
				<input id = "salary" type="text" value="">
			</div>
			<div>
				<label>&nbsp;</label>
				<label><input type="checkbox" value="1"> Currently Employed</label>
			</div>
			<input type="submit" value="Process Info">
		</div>
	</form>

	<div class="leftBlock">
		<div class="card">
			<span class="name">Sample First Name</span>
			<span class="title">Sample Title</span>
			<span class="company">Sample Company</span>
			<span class="phone">(aaa) bbb-cccc</span>
		</div>
	</div>
	<div class="rightBlock">
		<table class="salary">
			<caption>
				Salary Adjustment
			</caption>
			<thead>
				<tr>
					<th>Base</th>
					<th>West Coast</th>
					<th>Mid-West</th>
					<th>East Coast</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>$XX,XXX.XX</td>
					<td>$XX,XXX.XX</td>
					<td>$XX,XXX.XX</td>
					<td>$XX,XXX.XX</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>
